@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auto Insurance Calculator</h1>
    <p class="lead">Get your free auto insurance quote today!</p>
    <p>
        <a href="~/Insuree/Create" class="btn btn-primary btn-lg"> Get Started &raquo;</a>
       
    </p>
</div>


